<!DOCTYPE html>
<html>
<head>
    <title>Lähdeviitteet</title>
</head>
<body>
<h1>Lähdeviitteet</h1>
<h2>Lisää kirjaviite:</h2>
<form action="/send" method="POST">
    <p>Viitteen nimi:
    <input type="text" name="viite"></p>
    <p>Kirjailija:
    <input type="text" name="kirjailija"></p>
    <p>Otsikko:
    <input type="text" name="otsikko"></p>
    <p>Vuosi:
    <input type="number" name="vuosi"></p>
    <p>Kustantaja:
    <input type="text" name="kustantaja"></p>
    <input type="submit" value="Lisää">
</form>
<hr>
<h2>Lisätyt kirjaviitteet</h2>
    {% for viite in viitteet %}
    <div class="viite">{{ viite | safe }}</div>
    <br>
    {% endfor %}
</body>
</html>
