<!DOCTYPE html>
<html>
<head>
    <title>Lähdeviitteet</title>
</head>
<body>
<h1>Lähdeviitteet</h1>
<h2>Lisää kirjaviite:</h2>
<form action="/send_kirja" method="POST">
    <p>Viitteen nimi:
    <input type="text" name="viite"></p>
    <p>Kirjailija:
    <input type="text" name="kirjailija"></p>
    <p>Otsikko:
    <input type="text" name="otsikko"></p>
    <p>Vuosi:
    <input type="number" name="vuosi"></p>
    <p>Kustantaja:
    <input type="text" name="kustantaja"></p>
    <input type="submit" value="Lisää">
</form>
<hr>
<h2>Lisää artikkeliviite:</h2>
<form action="/send_artikkeli" method="POST">
    <p>Viitteen nimi:
        <input type="text" name="viite"></p>
    <p>Kirjailija:
        <input type="text" name="kirjailija"></p>
    <p>Otsikko:
        <input type="text" name="otsikko"></p>
    <p>Kustantaja:
        <input type="text" name="kustantaja"></p>
    <p>Vuosi:
        <input type="number" name="vuosi"></p>
    <p>Julkaisunumero:
        <input type="text" name="julkaisunumero"></p>
    <p>Sivut:
        <input type="text" name="sivut"></p>
        <input type="submit" value="Lisää">

</form>
<hr>
<div>
<h2>Lisätyt kirjaviitteet</h2>
<form action="/poista_viitteet" method="POST">
    <input type="submit" value="poista kaikki viitteet">
</form>
<br>
</div>
    {% for viite in viitteet %}
    <div style="display: flex;">
    <div class="viite">{{ viite[1] | safe }}</div>
    <!-- tähän lisättävä jotain, minkä perusteella poistava route tunnistaa viitteen -->
    <form action="/poista/{{viite[0]}}" method="POST">
        <input type="submit" value="poista">
    </form>
    </div>
    <br>
    {% endfor %}
</body>
</html>