{% macro _palanen(viite, tyyppi) %}
    <span class="{{ tyyppi }} palanen">{{ viite.tiedot[tyyppi] }}</span>
{% endmacro %}

{% macro luo_viite(viite_tuple) %}
    {% set viite = viite_tuple[0] %}
    <div class="viite_base" id="viite_{{ viite.tiedot['id'] }}">
        <div class="viite_lista">
            {{ _palanen(viite, "otsikko") }}
            {{ _palanen(viite, "vuosi") }}
            {{ _palanen(viite, "kirjailija") }}
            {{ _palanen(viite, "kustantaja") }}
            <div class="napit palanen">
                <form action="/poista/{{viite.tiedot['id']}}" method="POST">
                    <input type="submit" value="poista">
                </form>
                <button type="button" onclick="toggle_bibtex({{ viite.tiedot['id'] }})" id="bibtex_nappi_{{ viite.tiedot['id'] }}">Näytä BibTex</button>
            </div>
        </div>
        <div class="bibtex-wrapperi" id="wrapperi_{{ viite.tiedot['id'] }}">{{ viite_tuple[1] }}</div>
        <br>
    </div>
{% endmacro %}