{% macro _palanen(viite, tyyppi) %}
    <span class="{{ tyyppi }} palanen">
        {% if viite.tiedot[tyyppi] is not none %}
            {{ viite.tiedot[tyyppi] }}
        {% endif %}
    </span>
{% endmacro %}

{% macro luo_viite(viite_tuple) %}
    {% set viite = viite_tuple[0] %}
    <div class="viite_base" id="viite_{{ viite.tiedot['id'] }}">
        <div class="viite_lista">
            {{ _palanen(viite, "otsikko") }}
            {{ _palanen(viite, "vuosi") }}
            {{ _palanen(viite, "kirjailija") }}
            {{ _palanen(viite, "kustantaja") }}
            {{ _palanen(viite, "julkaisunumero") }}
            {{ _palanen(viite, "sivut") }}
            <div class="napit palanen">
                <form action="/poista/{{viite.tiedot['id']}}" method="POST">
                    <input type="submit" value="Poista">
                </form>
                <button type="button" class="viite_nappi" onclick="kopioi_bibtex({{ viite.tiedot['id'] }})" id="kopioi_bibtex_{{ viite.tiedot['id'] }}">Kopioi BibTex</button>
                <button type="button" class="viite_nappi" onclick="toggle_bibtex({{ viite.tiedot['id'] }})" id="bibtex_nappi_{{ viite.tiedot['id'] }}">Näytä BibTex</button>
            </div>
        </div>
        <div class="wrapperi_bibtex_wrapperille">
            <div class="bibtex-wrapperi" id="wrapperi_{{ viite.tiedot['id'] }}">{{ viite_tuple[1] }}</div>
        </div>
        <br>
    </div>
{% endmacro %}