body{
    width: 100%;
    height: 100vh;
    background: white;
  }


.viite_base {
    margin: 0px 20px 0px 20px;
    width: 90%;
}

.viite_nappi {
    height: 20px;
    width: 110px;
}

.viite_lista {
    padding-top: 10px;
    display: flex;
}

.palanen {
    flex-basis: 0;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
}

.napit {
    flex-basis: 0;
    flex-grow: 2.5;
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;

}

.bibtex-wrapperi {
    margin-top: 5px;
    white-space: pre-wrap;
    display: none;
}

.split {
    height: 50%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 0px;
    padding-left: 200px;
    font-size: medium;
}
  
.left {
    left: 0;
    position: relative;
    z-index: 2;
    background-color: #e3e5e6;
    height: 100vh;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
  
.right {
    width: 80%;
    right: 0;
    z-index: 1;
    position: absolute;
    padding-top: 900px;
    border-top: 2px solid black;
    border: 2px black;
    top: 0;
    padding-left: 10pc;
    overflow-x: auto;
}
  
.centered {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.header {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
    padding: 30px;
    text-align: center;
    font-size: 2em;
    border: 2px solid black;
    position: relative;
    z-index: 2;
}

.form-submit-button {
    padding: 15px 25px;
    margin-right: 10px;
    margin-bottom: 5px;
    background: #90ccf4;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    text-shadow: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    z-index: 3;

}
.form-submit-button:hover {
    padding: 15px 25px;
    margin-right: 10px;
    margin-bottom: 5px;
    background: #e69ae2;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    text-shadow: none;
    font-size: 16px;
}

table {
    width: 140%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    text-align: center;
}

th {
    background-color: white;
}

.buttons {
    display: flex;
}

.hidden {
    display: none;
}

.form-container {
    max-width: 400px;
    margin: auto;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

label {
    margin-right: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
}
