body {
    background-color: antiquewhite;
}

.viite_base {
    margin: 0px 20px 0px 20px;
    width: 75%;
}

.viite_nappi {
    height: 20px;
}

.viite_lista {
    padding: 5px;
    display: flex;
    background-color: bisque;
}

.palanen {
    flex-basis: 0;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.napit {
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
}

.bibtex-wrapperi {
    margin-top: 5px;
    white-space: pre-wrap;
    display: none;
}